[run]
omit =
    polls/*
    sap/models.py
    sap/migrations/*
    sap/apps.py
    sap/admin.py


[report]
omit =
    polls/*
    sap/models.py
    sap/migrations/*
    sap/migrations/*
    sap/apps.py
    sap/admin.py