[run]
omit =
    polls/*
    polls/migrations/*
    polls/__init__.py
    polls/models.py
    polls/views.py
    polls/admin.py
    polls/apps.py
    sap/models.py
    sap/migrations/*


[report]
omit =
    polls/*
    polls/migrations/*
    polls/__init__.py
    polls/models.py
    polls/views.py
    polls/admin.py
    polls/apps.py
    sap/models.py
    sap/migrations/*
