{% extends 'sap/base.html' %}
{% load static %}

{% block title %}
    {% if user.is_staff %}
        Admin - Change Password
    {% else %}
        Ally - Change Password
    {% endif %}
{% endblock title %}

{% block content %}

<body class="bg-gradient-primary">

    <div class="container">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div id="status_message" class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message|escape }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    {% if user.is_staff %}
                        <a class="col-lg-5 d-none d-lg-block bg-register-image" href="{% url 'sap:sap-dashboard'%}"></a>
                    {% else %}
                        <a class="col-lg-5 d-none d-lg-block bg-register-image" href="{% url 'sap:ally-dashboard'%}"></a>
                    {% endif %}

                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="prev_pass" name="old_password"
                                        placeholder="Previous Password">
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="new_pass" name="new_password1"
                                            placeholder="New Password" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="repeat_pass" name="new_password2"
                                            placeholder="Repeat Password" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Change Password</button>

                                <hr>
                                Password Rules:<br>
                                <ul>
                                    <li>Your password can't be too similar to your other personal information</li>
                                    <li>Your password must contain at least 8 characters</li>
                                    <li>Your password can't be a commonly used password</li>
                                    <li>Your password can't be entirely numberic</li>
                                </ul>
                                
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        var password = document.getElementById("new_pass")
            , confirm_password = document.getElementById("repeat_pass");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

{% endblock content %}