<!DOCTYPE html>
<html lang="en">
<style>
    .alert-dismissible{ }
</style>

{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IBA - Create Event</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type= "text/javascript">

        // function that by default selects invites all for event
        window.onload = function() {
          var allInputs = document.getElementsByTagName("input");
            for (var i = 0, max = allInputs.length; i < max; i++){
                if (allInputs[i].type === 'checkbox')
                    allInputs[i].checked = true;
            }
        };

        // function that checks all the checkboxes when invite all  checkbox is clicked
        function toggle_invite_all(){
            invite_all_checkbox = document.getElementById("invite_all")
            var allInputs = document.getElementsByTagName("input");
            var num_of_unchecked_boxes
            for (var i = 0, max = allInputs.length; i < max; i++){

                if (allInputs[i].name == 'invite_all') continue;

                if (allInputs[i].type === 'checkbox')

                    if (allInputs[i].checked == false){
                        invite_all_checkbox.checked = false;
                        return;
                    }
            }

            invite_all_checkbox.checked = true;
        }

        // function that unchecks invite all  checkbox when some other checkbox is unchecked
        function invite_all_click() {
            invite_all_checkbox = document.getElementById("invite_all")
            if (invite_all_checkbox.checked == true){
                value = true
            }
            else{
                value = false
            }

            var allInputs = document.getElementsByTagName("input");
            for (var i = 0, max = allInputs.length; i < max; i++){
                if (allInputs[i].type === 'checkbox')
                    allInputs[i].checked = value;
            }
        }

    </script>

</head>
<body class="bg-gradient-primary">
    <div class="container">
        {% if messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert" id="alert">
            {% for message in messages %}
            <li style="font-size: 15px; width: auto" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <a class="col-lg-5 d-none d-lg-block bg-register-image" href="{% url 'sap:sap-dashboard'%}"></a>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Event Details</h1>
                            </div>
                            <form method="post" class="user">{% csrf_token %}

                                <div class="form-group">
                                    <input name="event_title" type="text" class="form-control form-control-user" id="event_title" placeholder="Title of the Event" required>
                                </div>
                                <div class="form-group">
                                    <input name="event_description" type="text" class="form-control form-control-user" id="event_description" placeholder="Description of the Event" required>
                                </div>
                                <div class="form-group">
                                    <p style="font-size: 12px;margin-left: 20px;margin-bottom: 0px;">*Enter date and time of the event in central time</p>
                                    <input name="event_date_time" type="datetime-local" class="form-control form-control-user" id="event_date_time"
                                           placeholder="Date and Time of the Event in mm/dd/yyyy, hh/mm (AM or PM)" required>
                                </div>
                                <div class="form-group">
                                    <input name="event_location" type="text" class="form-control form-control-user" id="event_location"
                                           placeholder="Location of the event (meeting link or address)" required>
                                </div>


                                <div class="py-2">
                                    <strong>Invite all allies:</strong>
                                    <div class="form-check form-check-inline" >
                                        <div class="px-2">
                                            <input type="checkbox" name="invite_all" id="invite_all" value="invite_all" onclick="javascript:invite_all_click();">
                                            <label class="form-check-label" for="invite_all">Invite all</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="py-2">
                                    <div><strong>User role in the university:</strong></div>

                                    <div class="form-check form-check-inline" id="invite_ally_roles">
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="role_selected" id="staffCheck" value="Staff">
                                            <label class="form-check-label" for="staffCheck">Staff</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="role_selected" id="gradCheck" value="Graduate Student">
                                            <label class="form-check-label" for="gradCheck">Grad</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="role_selected" id="undergradCheck" value="Undergraduate Student">
                                            <label class="form-check-label" for="undergradCheck">Undergrad</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="role_selected" id="facultyCheck" value="Faculty">
                                            <label class="form-check-label" for="facultyCheck">Faculty</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="py-2">
                                    <div><strong>School year:</strong></div>

                                    <div class="form-check form-check-inline" id="invite_school_years">
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="school_year_selected" id="freshman" value="Freshman">
                                            <label class="form-check-label" for="freshman">Freshman</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="school_year_selected" id="sophomore" value="Sophomore">
                                            <label class="form-check-label" for="sophomore">Sophomore</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="school_year_selected" id="junior" value="Juniors">
                                            <label class="form-check-label" for="junior">Junior</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="school_year_selected" id="senior" value="Faculty">
                                            <label class="form-check-label" for="senior">Senior</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="py-2">
                                    <div><strong>Mentorship status:</strong></div>

                                    <div class="form-check form-check-inline" id="invite_mentors">
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="mentor_status" id="mentors" value="Mentors">
                                            <label class="form-check-label" for="mentors">Mentors</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="mentor_status" id="mentees" value="Mentees">
                                            <label class="form-check-label" for="mentees">Mentees</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="py-2">
                                    <div><strong>Allies belonging to one of the following categories:</strong></div>

                                    <div class="form-check">
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="special_category" id="first_gen_coll_stu" value="First generation college-student">
                                            <label class="form-check-label" for="first_gen_coll_stu">First generation college-student</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="special_category" id="rural" value="Rural">
                                            <label class="form-check-label" for="rural">Rural</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="special_category" id="low_income" value="Low-income">
                                            <label class="form-check-label" for="low_income">Low-income</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="special_category" id="under_represented" value="Underrepresented racial/ethnic minority">
                                            <label class="form-check-label" for="under_represented">Underrepresented racial/ethnic minority</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="special_category" id="disabled" value="Disabled">
                                            <label class="form-check-label" for="disabled">Disabled</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="special_category" id="transfer_student" value="Transfer Student">
                                            <label class="form-check-label" for="transfer_student">Transfer Student</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="checkbox" onclick="javascript:toggle_invite_all();" name="special_category" id="lgbtq" value="LGBTQ">
                                            <label class="form-check-label" for="lgbtq">LGBTQ</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="py-2">
                                    <div><strong>Area of research:</strong></div>
                                    <div class="form-check" id="stemGradCheckboxes">
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Biochemistry" name="research_area" id="biochemistry">
                                          <label class="form-check-label" for="biochemistry">Biochemistry</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Bioinformatics" name="research_area" id="bioinformatics">
                                          <label class="form-check-label" for="bioinformatics">Bioinformatics</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Biology" name="research_area" id="biology">
                                          <label class="form-check-label" for="biology">Biology</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Biomedical Engineering" name="research_area" id="biomedicalengineering">
                                          <label class="form-check-label" for="biomedicalengineering">Biomedical Engineering</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Chemical Engineering" name="research_area" id="chemicalengineering">
                                          <label class="form-check-label" for="chemicalengineering">Chemical Engineering</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Chemistry" name="research_area" id="chemistry">
                                          <label class="form-check-label" for="chemistry">Chemistry</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Computer Science and Engineering" name="research_area" id="computerscienceandengineering">
                                          <label class="form-check-label" for="computerscienceandengineering">Computer Science and Engineering</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Environmental Science" name="research_area" id="environmentalscience">
                                          <label class="form-check-label" for="environmentalscience">Environmental Science</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Health and Human Physiology" name="research_area" id="healthandhumanphysiology">
                                          <label class="form-check-label" for="healthandhumanphysiology">Health and Human Physiology</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Mathematics" name="research_area" id="mathematics">
                                          <label class="form-check-label" for="mathematics">Mathematics</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Microbiology" name="research_area" id="microbiology">
                                          <label class="form-check-label" for="microbiology">Microbiology</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Neuroscience" name="research_area" id="neuroscience">
                                          <label class="form-check-label" for="neuroscience">Neuroscience</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Nursing" name="research_area" id="nursing">
                                          <label class="form-check-label" for="nursing">Nursing</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Physics" name="research_area" id="physics">
                                          <label class="form-check-label" for="physics">Physics</label><br>
                                          <input type="checkbox" onclick="javascript:toggle_invite_all();" value="Psychology" name="research_area" id="psychology">
                                          <label class="form-check-label" for="psychology">Psychology</label><br>
                                    </div>

                                </div>
                                <button type="submit" formmethod="post" class="btn btn-primary btn-user btn-block" id="submit_new_admin">
                                    Create Event
                                </button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>