{% extends 'sap/base.html' %}
{% load static %}

{% block title %}IBA - Calendar{% endblock title %}

{% block content %}
<body class="bg-gradient-primary">
    <div class="container">
        {% if messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert" id="alert">
            {% for message in messages %}
            <li style="font-size: 15px; width: auto" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <a class="col-lg-5 d-none d-lg-block bg-register-image" href="{% url 'sap:sap-dashboard'%}"></a>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Your Credentials</h1>
                            </div>
                            <form method="post" class="user">{% csrf_token %}

                                <div class="form-group">
                                    <input name="current_username" type="text" class="form-control form-control-user" id="current_username" placeholder="Your Username">
                                </div>
                                <div class="form-group">
                                    <input name="current_password" type="password" class="form-control form-control-user" id="current_password" placeholder="Your Password">
                                </div>
                                <hr color="gray">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Enter New Admin</h1>
                                </div>
                                <div class="form-group">
                                    <input name="new_email" type="email" class="form-control form-control-user" id="new_email" placeholder="New Email">
                                </div>
                                <div class="form-group">
                                    <input name="new_username" type="text" class="form-control form-control-user" id="new_username" placeholder="New Username">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="new_password" type="password" class="form-control form-control-user"
                                            id="new_password" placeholder="New Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="repeat_password" type="password" class="form-control form-control-user"
                                            id="repeat_password" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <button type="submit" formmethod="post" class="btn btn-primary btn-user btn-block" id="submit_new_admin">
                                    Create New Admin
                                </button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}