{% extends 'sap/base.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/login.css'%}">

 <!-- Custom fonts for this template -->
 <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
 <link
     href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
     rel="stylesheet">

<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="d-flex"> <img src="{% static 'img/iba_logo.png'%}" class="logo"> <h2 class="logo-text"><strong> <a class="logo-link" href="#">Science Alliance <span>Portal</span></a></strong></h2> </div>
                    <div class="row px-3 justify-content-center mt-4 border-line"> <img src="{% static 'img/people-design.jpg'%}"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card2 card border-0 px-4 pt-5 mt-4">
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 ">Username</h6>
                            </label> <div class="mb-4">{{ form.username }} </div></div>
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 ">Password</h6>
                            </label> <div class="mb-4">{{ form.password }} </div></div>
                        <div class="row mb-3 px-4"> <button type="submit" class="btn btn-yellow text-center" value="login"> <strong>Login</strong></button> </div>
                        <div class="row mb-4 px-3"> <div class="font-weight-bold">Forgot Your Password? <a class="text-yellow">Click here to reset your password</a></div></div>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock content %}