<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IBA - Science Alliance Portal</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
        {% if form.errors %}
            <div class="alert alert-danger" id="login-alert">
                 Username or password is incorrect!
            </div>
        {% endif %}

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body px-3 py-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 mt-4 bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="row text-center">
                                        <img src="{% static 'img/iba_logo.png' %}" alt="" id="iba-logo">
                                        <h4 class="mt-3 pl-2" id='text-logo'>Science Alliance <span>Portal</span></h4>
                                    </div>
                                    <form method="POST" class="user">
                                        {% csrf_token %}
                                        <div class="form-group mt-4">
                                            <input type="text" name="username" autofocus="" autocapitalize="none" class="form-control form-control-user" placeholder="Enter Username..." autocomplete="username" maxlength="150" required="" id="id_username">
                                            <!-- <input type="text" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Username..."> -->
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user" placeholder="Password" autocomplete="current-password" required="" id="id_password">
                                            <!-- <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password"> -->
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-primary btn-user btn-block" value="login" id="submit"> Login </button>
                                        <!-- <a href="index.html" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a> -->
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a href="{% url 'sap:sap-forgot_password'%}">Forgot Password?</a>
                                    </div>
                                    <!-- <div class="text-center">
                                        <a href="register.html">Create an Account!</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js"' %}></script>

</body>

</html>