{% extends 'sap/base.html' %}

{% block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Science Alliance Portal</legend>
                {% load crispy_forms_tags %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary mt-2 mb-2" type="submit" id = "submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}