{% autoescape off %}
<h3>
    Hello {{ user.get_username }},
</h3>

You received this email because you requested to reset your forgot password.
<br><br>
To initiate the password reset process for your account on {{ domain }},
click the link below:
<br><br>
<a href="{{ protocol }}://{{ domain }}{% url 'sap:password-forgot-confirm' uidb64=uid token=token %}">Click here to reset your password!</a>
<br><br>
If clicking the link does not work, please try to copy and paste it in your browser.
<br><br>
If you do not want to change your password, please ignore this email.
<br><br>
Best wishes,
<br><br>
IBA team

{% endautoescape %}