{% extends 'sap/base.html' %}
{% load static %}


{% block title %}
    {% if user.is_staff %}
        Admin - Profile
    {% else %}
        Ally - Profile
    {% endif %}
{% endblock title %}

{% block content %}

<body class="bg-gradient-primary">

    <div class="container">
        <div class="container-fluid">
            {% if messages %}
            {% for message in messages %}
            <div id="status_message" class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message|escape }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    {% if user.is_staff %}
                        <a class="col-lg-5 d-none d-lg-block bg-register-image" href="{% url 'sap:sap-dashboard'%}"></a>
                    {% else %}
                        <a class="col-lg-5 d-none d-lg-block bg-register-image" href="{% url 'sap:ally-dashboard'%}"></a>
                    {% endif %}
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                {% if user.is_staff %}
                                    <h1 class="h4 text-gray-900 mb-4">Admin Profile</h1>
                                {% else %}
                                    <h1 class="h4 text-gray-900 mb-4">Ally Profile</h1>
                                {% endif %}
                            </div>
                            <form class="user" method="POST"> 
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="username" id="username" placeholder="Username" value='{{ user.username }}' required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="email" id="exampleInputEmail"
                                        placeholder="Email Address" value='{{ user.email }}' required>
                                </div>
                                {% if user.is_staff %}
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Update Admin Profile</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Update Ally Profile</button>
                                {% endif %}
                                <hr>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock content %}