<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Ally</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
        {% if messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <a class="col-lg-5 d-none d-lg-block bg-register-image"></a>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <form method="post" class="user">{% csrf_token %}
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Sign Up</h1>
                                </div>
                                <div class="form-group">
                                    <input name="new_username" type="text" class="form-control form-control-user" id="new_username" placeholder="New Username" required>
                                </div>
                                <div class="form-group">
                                    <input name="new_email" type="email" class="form-control form-control-user" id="new_email" placeholder="New Email" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="new_password" type="password" class="form-control form-control-user"
                                            id="new_password" placeholder="New Password" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="repeat_password" type="password" class="form-control form-control-user"
                                            id="repeat_password" placeholder="Repeat Password" required>
                                    </div>
                                </div>
                                <div class="py-2">                               
                                    Please select your role in the university:
                                    <div class="form-check form-check-inline">
                                        <div class="px-2">
                                            <input type="radio" name="roleSelected" id="staffCheck" onclick="javascript:yesnoCheck('staffContent');" required > 
                                            <label class="form-check-label" for="staffCheck">Staff</label>
                                        </div>
                                        <div class="px-2">
                                        <input type="radio" name="roleSelected" id="gradCheck" onclick="javascript:yesnoCheck('gradContent');" required > 
                                        <label class="form-check-label" for="gradCheck">Grad</label>  
                                        </div>
                                        <div class="px-2">
                                        <input type="radio" name="roleSelected" id="undergradCheck" onclick="javascript:yesnoCheck('undergradContent');" required > 
                                        <label class="form-check-label" for="undergradCheck">Undergrad</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="radio" name="roleSelected" id="facultyCheck" onclick="javascript:yesnoCheck('facultyContent');" required > 
                                            <label class="form-check-label" for="facultyCheck">Faculty</label>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div id='contents'>
                                </div>
                                <div id='staffContent' style="display: none">
                                    Do you know students who would be interested in the Science Alliance?
                                    <div class="text-center">
                                        <input type="radio" name="yes" id="yes" required> 
                                            <label class="form-check-label" for="knowOthers">Yes</label>
                                        <input type="radio" name="yes" id="no" required> 
                                            <label class="form-check-label" for="knowOthers">No</label><br/>
                                    </div>
                                    
                                    <div class="py-1">How can science alliance serve you?</div>
                                    <input name="howCanWeHelp" type="text" class="form-control form-control-user" id="howHelp">
                                </div>
                                  
                                  <div id='gradContent' style="display: none">
                                    grad content
                                  </div>
                                  
                                  <div id='undergradContent' style="display: none">
                                    Year:
                                    <div id="undergradRadios">
                                    </div>
                                    <div class="py-1">How can science alliance serve you?</div>
                                    <input name="new_username" type="text" class="form-control form-control-user" id="new_username">    
                                  </div>
                                  
                                  <div id='facultyContent' style="display: none">
                                    faculty content
                                  </div>

                                <button type="submit" formmethod="post" class="btn btn-primary btn-user btn-block mt-2" id="submit_new_ally">
                                    Create New Ally
                                </button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

<script>
    function yesnoCheck(div_name) {
	document.getElementById('contents').innerHTML = document.getElementById(div_name).innerHTML;
    }

    function addRadioOptions(div_id, field_list, field_id){
        console.log(div_id);
        x = document.getElementById(div_id);
        console.log(x.innerHTML);
        var i;

        for (i=0; i<field_list.length; i++)
        {
          x.innerHTML += "<input type=\"radio\" name=\""+field_id+"\" id=\""+field_id+"\" required> \
            <label class=\"form-check-label\" for=\""+field_id+"\">"+field_list[i]+"</label><br/>"  
        }
    }

    addRadioOptions('undergradRadios', ['Freshman', 'Sophomore', 'Junior', 'Senior'], 'year')

</script>

</html>