{% extends 'sap/base.html' %}
{% load static %}

{% block title %}IBA - Signup{% endblock title %}

{% block content %}

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Check Your Inbox</h1>
                                    <p class="mb-4">To finish creating a new account, please follow instructions
                                        in the email we just sent you.</p>
                                </div>

                                <div class="text-center">
                                    <a href="{% url 'sap:home' %}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock content %}