{% extends 'sap/base.html' %}
{% load static %}

{% block title %}IBA - Signup{% endblock title %}

{% block content %}

<body class="bg-gradient-primary">

    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <a class="col-lg-5 d-none d-lg-block bg-scienceAlliance-image"></a>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <form method="post" class="user">{% csrf_token %}
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Science Alliance Sign Up</h1>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="firstName" type="text" class="form-control form-control-user"
                                            id="firstName" placeholder="First Name" required >
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="lastName" type="text" class="form-control form-control-user"
                                            id="lastName" placeholder="Last Name"  required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="new_username" type="text" class="form-control form-control-user" id="new_username" placeholder="Please enter your Hawk ID"  required >
                                </div>
                                <div class="form-group">
                                    <input name="new_email" type="email" class="form-control form-control-user" id="new_email" placeholder="Please type your UIOWA email address" pattern="^[a-zA-Z0-9-_\.]+@uiowa\.edu$"  required >
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="new_password" type="password" class="form-control form-control-user"
                                            id="new_password" placeholder="New Password"  required  >
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="repeat_password" type="password" class="form-control form-control-user"
                                            id="repeat_password" placeholder="Repeat Password"  required >
                                    </div>
                                </div>
                                <hr>
                                <div class="py-2">                               
                                    <strong>Please select your role in the university:</strong>
                                    <div class="form-check form-check-inline">
                                        <div class="px-2">
                                            <input type="radio" name="roleSelected" id="staffCheck" value="Staff" onclick="javascript:yesnoCheck('gradStaffFac');"  required  >
                                            <label class="form-check-label" for="staffCheck">Staff</label>
                                        </div>
                                        <div class="px-2">
                                        <input type="radio" name="roleSelected" id="gradCheck" value="Graduate Student" onclick="javascript:yesnoCheck('gradStaffFac');"  required  >
                                        <label class="form-check-label" for="gradCheck">Grad</label>  
                                        </div>
                                        <div class="px-2">
                                        <input type="radio" name="roleSelected" id="undergradCheck" value="Undergraduate Student" onclick="javascript:yesnoCheck('undergradContent');"  required  > 
                                        <label class="form-check-label" for="undergradCheck">Undergrad</label>
                                        </div>
                                        <div class="px-2">
                                            <input type="radio" name="roleSelected" id="facultyCheck" value="Faculty" onclick="javascript:yesnoCheck('gradStaffFac');"  required  >
                                            <label class="form-check-label" for="facultyCheck">Faculty</label>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div id='contents'>
                                </div>

                                <button type="submit" formmethod="post" class="btn btn-primary btn-user btn-block mt-2" id="submit_new_ally">
                                    Create New Ally
                                </button>
                                <hr>
                            </form>
                            Already have an account? <a href="{% url 'sap:home'%}">Click here to log in</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Graduate Student, Faculty, Staff Content -->

    <div id='gradStaffFac' style="display: none">
        <div class="py-1">
            <strong>STEM Area of Research:</strong> 
              <div class="form-check" id="areaOfResearchCheckboxes"></div>
         </div>
        <div class="py-3">
            <input name="research-des" type="text" class="form-control form-control-user" id="research-des" placeholder="Brief description of Research" maxlength="500">
        </div>
        <div class="py-1">
            <strong>Do you currently have openings for undergraduate students in your lab?</strong>
              <div class="form-check" id="openingRadios"></div>
         </div>
         <div class="py-1">
            <strong>Are you interested in mentoring students?</strong> 
              <div class="form-check" id="mentoringRadios"></div>
         </div>
        <div class="py-1">
            <strong>Are you interested in connecting with other mentors?</strong>
             <div class="form-check" id="connectingWithMentorsRadios"></div>
         </div>
        <strong>Do you know students who would be interested in the Science Alliance?</strong>
        <div class="py-1">
            <div class="form-check" id="studentsInterestedRadios"></div>
        </div>
         <div class="py-1">
            <strong>Are you interested in serving as a mentor to students who identify as any of the following? (check all that apply)</strong> 
              <div class="form-check" id="mentorCheckboxes"></div>
         </div>
         <div class="py-1">
            <strong>Would you be willing to offer lab shadowing to potential students?</strong> 
              <div class="form-check" id="labShadowRadios"></div> 
         </div>
         <div class="py-1">
            <strong>Would you be willing to volunteer for panels, networking workshops, and other events as professional development for students?</strong> 
             <div class="form-check" id="volunteerRadios">
             </div>  
         </div>
         <div class="py-1">
            <strong>Are you interested in mentor training?</strong> 
             <div class="form-check" id="trainingRadios"></div>
        </div>
        <div class="py-1"><strong>How can science alliance serve you?</strong></div>
        <input name="howCanWeHelp" type="text" class="form-control form-control-user" id="howHelp" required>
      </div>
      
    <!-- Undergraduate student content -->

    <div id='undergradContent' style="display: none">
        <div class="py-1">
           <strong>Year:</strong> 
            <div class="form-check" id="undergradYear"></div>
        </div>
        <div class="py-1">
            <strong>Do you identify as? (check all that apply)</strong> 
             <div class="form-check" id="identityCheckboxes"></div>
         </div>
        <div class="py-3">
            <input name="major" type="text" class="form-control form-control-user" id="major" placeholder="Please enter your Major"  required > 
        </div>
        <div class="py-1">
           <strong>Are you interested in joining a lab?</strong> 
            <div class="form-check" id="interestLabRadios">
            </div>  
        </div>
        <div class="py-1">
           <strong>Do you have experience working in a laboratory?</strong>   
             <div class="form-check" id="labExperienceRadios">
             </div>  
         </div>  
         <div class="py-1">
            <strong>Are you interested in becoming a peer mentor?</strong> 
             <div class="form-check" id="undergradMentoringRadios">
             </div>  
         </div>
        <div class="py-1">
            <strong>Are you interested in being mentored?</strong>
            <div class="form-check" id="beingMentoredRadios">
            </div>
        </div>
         <div class="py-1">
            <strong>My academic standing is a factor for IBA internships; therefore, I give IBA staff permission to obtain my transcripts. If I completed coursework at another college or university, I am responsible for submitting transcripts from that school to the University of Iowa Office of Admissions, and IBA may obtain a copy of those transcripts from Admissions.</strong> 
             <div class="form-check" id="agreementRadios">
             </div>  
         </div>    
      </div>

    <script src="{% static 'js/signUp.js' %}"></script>

{% endblock content %}