{% load static %}


<!-- Sidebar -->
        <ul style="background-color: #5c5d65; background-size: cover;" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
            <br>
            <!-- Sidebar - Brand -->
            {% if role == "admin" %}
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
            {% else %}
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/ally-dashboard">
            {% endif %}
                <div class="sidebar-brand-icon rotate-n-0">
                    <img src="{% static '/img/Untitled-1.png' %}" alt="IBA Logo" width="151px" height="88px">
                </div>
            </a>

            <!-- Divider -->
            <br>
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            {% if role == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/analytics">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Analytics</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/create_event">
                        <i class="fas fa-fw fa-calendar"></i>
                        <span>Create Event</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/announcements">
                        <i class="fas fa-fw fa-bullhorn"></i>
                        <span>Announcements</span></a>
                </li>
                
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="/ally-dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/resources">
                        <i class="fas fa-list-alt"></i>
                        <span>Resources</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/announcements">
                        <i class="fas fa-fw fa-bullhorn"></i>
                        <span>Announcements</span></a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="/calendar">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Calendar</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->