{% load static %}
{% load notifications_tags %}
<!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <h1 class="h3 mb-0 text-gray-800">Science Alliance Portal</h1>
                    
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        
                        {% if role == "admin" %}
                            <button class="btn btn-primary" type="button" style="margin-top: 15px; margin-bottom: 15px;" data-toggle="modal" data-target="#announcementModal"> Make Announcement
                                <i style="margin-left: 5px; font-size: 0.73em;" class="fa fa-bullhorn fa-sm"></i>
                            </button>
                        {% else %}
                            <li class="nav-item dropdown no-arrow">
                                <div class="btn-group dropleft">
                                    <a class="nav-link dropdown-toggle" href="#" id="notifyDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div id="icon-wrapper">
                                            <i class="p3 fas fa-bell fa-2x" data-count="4b"></i>
                                            <span style="background: rgba(0,0,0,0.5); width: auto; height: auto;margin: 0; border-radius: 50%; position:absolute; top: 8px; right: -5px;" class="badge">
                                                {% live_notify_badge %}
                                            </span>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu shadow animated--grow-in" style="right: 50px;" aria-labelledby="notifyDropdown">
                                    {% for notification in user.notifications.unread %}
                                        <div>
                                        <a class="dropdown-item" type="button">{{ notification.verb }}</a>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static '/img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                {% if role == "admin" %}
                                    <a class="dropdown-item" href="/update_profile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Update Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/password">
                                        <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Change Password
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/create_iba_admin">
                                        <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Create new Admin
                                    </a>
                                {% else %}
<!--                                    <a class="dropdown-item" href="/update_profile">-->
                                    <a class="dropdown-item" href="/password">
                                        <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Change Password
                                    </a>
                                {% endif %}
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>
                </nav>
                <!-- End of Topbar -->

<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

<!-- Announcement Modal-->
    <div class="modal fade" id="announcementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Announcement</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form method="post" action="{% url 'sap:create_announcement'  %}">
                {% csrf_token %}
                    <div class="modal-body">
                        
                        <input type="text" placeholder="Enter announcement title ..." name="title" class="form-control " required="" id="title">
                        
                        <div class="form-group mt-4">
                            <textarea class="form-control " id="description" name="desc" placeholder="Enter announcement description ..." rows="3"></textarea>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" >Create Announcement</button>
                    </div>
                </form>
            </div>
        </div>
    </div>