{% extends 'sap/base.html' %}
{% load static %}

{% block title %}Admin - View Ally{% endblock title %}

{% block content %}

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-5">
          <h1 class="h3 mb-0 text-gray-800">View {{ally.user.username}} Events</h1>
          <hr />
            <div class="table-responsive">
                {% if invited_events %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Signed up</th>
                             </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Signed up</th>
                            </tr>
                        </tfoot>
                      <tbody>
                      </tbody>
                    </table>
                {% else %}
                <strong> No Events to Display </strong>
                {% endif %}
          <hr/>
          <div class = "row mt-2"></div>
          <a href="{% url 'sap:admin_view_ally' ally.user.username %}" class="btn btn-primary btn-user">Back to View Profile</a>
          {% if user.is_staff %}
            <a href="/dashboard" class="btn btn-primary btn-user"> Back to Dashboard</a>
          {% else %}
            <a href="/ally-dashboard" class="btn btn-primary btn-user"> Back to Dashboard</a>
          {% endif %}
          <br>
        </div>
      </div>
    </div>
  {% endblock content %}
